.body{
    background-color: snow;
}
div {
    border:1px solid #000;
    float:right;
    background-color:silver;
    width:158px;
    height:20px;
    text-align: right;
    margin-top: 20px;
    height: 30px;
    padding: 1px;
    font-size: 25px;
    padding-right: 15px;
    border-radius: 2px;
}
div:nth-child(n+2){
    text-align: center;
    margin-left:55px;
    background-color: white;
    width: 560px;
    height: 30px;
    padding: 1px;
    padding-right: 91px;
    font-size: 20px;
    box-shadow: 0px 0px 2.5px 0px;


}
.jihad{
    width: 280px;
    height: 350px;
    float: left;
    border-radius: 9px;
    margin-left: 180px;
    box-shadow: 0px 0px 10px 0px;
    margin-top: 50px;
  
}
.edris{
    margin-left: 150px;
    width: 565px;
    height: 350px;
    float: left;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px;
    margin-top: 50px;
    
}
